body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

li {
    left: 0px;
    list-style-type: none;
}

.main {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #eef9bf;
    overflow-y: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
}

.baralho {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 47px 100px 47px 100px;
    gap: 50px;
    background-color: #eef9bf;
}

.carta {
    width: 117px;
    height: 146px;
    position: relative;
    cursor: pointer;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.carta-verso img {
    width: 100px;
    height: 100px;
}

.carta-frente img {
    width: 100px;
    height: 100px;
}

.carta-frente {
    transform: rotateY(180deg);
}

.carta.selecionado .carta-frente {
    transform: rotateY(0deg);
}

.carta.selecionado .carta-verso {
    transform: rotateY(-180deg);
}

.escondido {
    display: none;
}

.carta.achou .carta-frente {
    transform: rotateY(0deg);
}

.carta.achou .carta-verso {
    transform: rotateY(-180deg);
}

.trancar {
    pointer-events:none;
}

@media (max-width: 614px){
    .baralho {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
