body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

.main {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #eef9bf;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
}

.baralho {
    display: flex;
    justify-content: center;
    left: 126px;
    margin-top: 47px;
    gap: 48px;
}

.carta {
    width: 117px;
    height: 146px;
    position: relative;
    cursor: pointer;
}

.face {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.carta-verso img {
    width: 100px;
    height: 100px;
}

.carta-frente img {
    width: 100px;
    height: 100px;
}

.carta-frente {
    transform: rotateY(180deg);
}

.carta.selecionado .carta-frente {
    transform: rotateY(0deg);
}

.carta.selecionado .carta-verso {
    transform: rotateY(-180deg);
}

.escondido {
    display: none;
}


@media (max-width: 614px){
    .baralho {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
